/* Basic Style */
.body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}
.matrix-example {
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}
.matrix-img {
    width: 100%;
}
.matrix-example .more-inf {
    font-family: fantasy, cursive;
}

@media (max-width:768px) {

    .matrix-example { 
        text-align: center;
    }
}

.todo-wrapper {
    display: block;
    width: 500px;
    margin: 0 auto 0;
}
.task {
    width: 56%;
    display: inline-block;
    flex-grow: 1
}
.new-task-wrapper {
    display: flex;
}
.list {
    margin:0;
    padding: 0px;
}
.list-item {
    list-style:none;
}
.input, .btn{
    outline:none;
}
.btn {
    background: none;
    border: 0px;
    color: #888;
    font-size: 15px;
    width: 60px;
    font-family: Lato, sans-serif;
    cursor: pointer;
}
.btn:hover {
    color: #3a3A3a;
}
/* Heading */
.to-do-title,
.new-task-label {
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}
.input-text {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}
.input-text:focus {
    color: #333;
}

/* New Task */
.new-task-label {
    display: block;
    margin: 0 0 20px;
}
.input-add {
    width: 318px;
}

/* Task list */
.list-item {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-item > * {
    vertical-align: middle;
}

.input-checkbox {
    margin: 0 10px;
}
.task {
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}
.input-text {
    width: 226px;
}
.delete-img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}
.delete-img:hover {
    transform: rotateZ(0);
}

/* Completed */
.completed-tasks .task {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
.list .input-text {
    display:none;
}

.edit-mode .input-text {
    display:inline-block;
    width:224px;
}

.edit-mode > .task-label {
    display:none;
}